@model LoginViewModel

@*<div class="container mt-5">
    <div class="row ">
        <div class="offset-md-4 col-md-4 login-form">
            <form asp-controller="Customer" asp-action="GetLogin" method="post" novalidate="novalidate">
                <div class="mb-3">
                    <label class="form-label" asp-for="Email" >Email address</label>
                    <input type="email" class="form-control"  aria-describedby="emailHelp" asp-for="Email">
                    <div id="emailHelp" class="form-text" >We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="Password">Password</label>
                    <input type="password" class="form-control" asp-for="Password">
                    <div class="col-4">
                        <input asp-for="IsPersistentCookie" class="form-check-input" />
                        <label asp-for="IsPersistentCookie" class="form-check-label"></label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary me-3">Login</button>
                <a class="btn btn-secondary" href="./signUp.html">Sign Up</a>
            </form>
        </div>
    </div>
</div>*@