@model ChangePasswordViewModel


<div class="container border" style="padding:20px">
    <h3 style="padding-bottom:10px">Change Password</h3>
    <form method="post" asp-controller="Account" asp-action="ChangePasswordSubmit">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="OldPassword"></label>
            </div>
            <div class="col-4">
                <input asp-for="OldPassword" class="form-control" type="password" />
            </div>
            <span class="text-danger" asp-validation-for="OldPassword"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="NewPassword"></label>
            </div>
            <div class="col-4">
                <input asp-for="NewPassword" class="form-control" type="password" />
            </div>
            <span class="text-danger" asp-validation-for="NewPassword"></span>
        </div>


        <div class="form-group row">
            <div class="col-2">

            </div>
            <div class="col-4">
                <input type="submit" class="btn btn-primary" value="Change Password" />
            </div>
        </div>
    </form>
</div><br /><br /><br />