@model LoginViewModel
   
<div class="container border" style="padding:20px">
    <form method="post" asp-controller="Account" asp-action="ValidateLogin">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Email"></label>
            </div>
            <div class="col-4">
                <input asp-for="Email" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Password"></label>
            </div>
            <div class="col-4">
                <input asp-for="Password" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
        <div class="form-check row mb-2">
            <div class="col-2">
            </div>
            <div class="col-4">
                <input asp-for="IsPersistentCookie" class="form-check-input" />
                <label asp-for="IsPersistentCookie" class="form-check-label"></label>
            </div>
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">

            </div>
            <div class="col-4">
                <input type="submit" class="btn btn-primary" value="Login" />
                <a class="btn btn-success" asp-area="" asp-controller="Account" asp-action="Register">Signup</a>
            </div>
        </div>
    </form>
</div>
<br />
<br />